<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c05da5a4-7745-425a-96d0-4140d71fe1ef" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 10" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c05da5a4-7745-425a-96d0-4140d71fe1effileName">REST-Service-10</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/><con:environmentSpec><con:entry environmentId="6922de35-ae07-4611-8444-4f3641e453ae"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>