<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1f9c0e59-4bea-483d-9257-cf231f28a44b" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1f9c0e59-4bea-483d-9257-cf231f28a44bfileName">REST-Service-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://spasita.test.com/</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="6922de35-ae07-4611-8444-4f3641e453ae"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>