<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="bc3fe6c4-7e88-4de0-bc46-3c51cf72b7b0" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 3" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="bc3fe6c4-7e88-4de0-bc46-3c51cf72b7b0fileName">REST-Service-3</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/><con:environmentSpec><con:entry environmentId="6922de35-ae07-4611-8444-4f3641e453ae"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>